@{
    ViewBag.Title = "Return Manager";
    Layout = "~/Views/Shared/_JQGridLayout.cshtml";
    ViewBag.MainMenu = "Tax Return";
}

<link rel="stylesheet" href="../Content/css/datepicker.css" />
<link rel="stylesheet" href="../Content/css/ui.jqgrid.css" />

<!-- text fonts -->
@*<link rel="stylesheet" href="../Content/css/ace-fonts.css" />*@

<!-- ace styles -->
<link rel="stylesheet" href="../Content/css/ace.min.css" id="main-ace-style" />

<!--[if lte IE 9]>
    <link rel="stylesheet" href="../Content/css/ace-part2.min.css" />
<![endif]-->
@*<link rel="stylesheet" href="../Content/css/ace-skins.min.css" />
    <link rel="stylesheet" href="../Content/css/ace-rtl.min.css" />*@

<!--[if lte IE 9]>
  <link rel="stylesheet" href="../Content/css/ace-ie.min.css" />
<![endif]-->
<!-- inline styles related to this page -->
<!-- ace settings handler -->
<script src="../Content/js/ace-extra.min.js"></script>

<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
<!--[if lte IE 8]>
<script src="../Content/js/html5shiv.min.js"></script>
<script src="../Content/js/respond.min.js"></script>
<![endif]-->


<div class="page-header">
    <h1>
        Tax Return
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Tax Return Manager
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="well well-sm">
            <button type="button" class="close line-height-0" data-dismiss="alert">
                <i class="ace-icon fa fa-times smaller-75"></i>
            </button>

            You can have a custom jqGrid download here:
            <a href="/TaxProfile/Index" target="_blank">
                Go to Tax Return Details
            </a>
        </div>

        <table id="grid-table"></table>

        <div id="grid-pager"></div>

        <script type="text/javascript">
            var $path_base = "..";//in Ace demo this will be used for editurl parameter
        </script>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->



