@{
    ViewBag.Title = "Home Page";
    ViewBag.MainMenu = "Home";    
}

<div class="page-header">
    <h1>
        Home
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Welcome to Taxnic Pro
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="alert alert-info visible-sm visible-xs">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            Please note that
            <span class="blue bolder">top menu style</span>
            is visible only in devices larger than
            <span class="blue bolder">991px</span>
            which you can change using CSS builder tool.
        </div>

        <div class="well well-sm visible-sm visible-xs">
            <button type="button" class="close line-height-0" data-dismiss="alert">
                <i class="ace-icon fa fa-times smaller-80"></i>
            </button>
            Top menu can become any of the 3 mobile view menu styles:
            <em>default</em>
            ,
            <em>collapsible</em>
            or
            <em>minimized</em>.
        </div

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->



<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>